.card_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: rgba(0,0,0,0.1);
  padding: 8px;
}
.card {
  &__link {
    color: blue;
  }
  &__link_red {
    color: red;
  }
}
